
/*header logo字体*/
@media screen and (max-width:768px){
	.logo>a{
		font-size: 34px;
	}
	.social-icons ul{
		margin-top: 6px;
	}
}
@media screen and (min-width:768px){
	.logo>a{
		font-size: 34px;
	}
	.social-icons ul{
		margin-top: 6px;
	}
}
@media screen and (min-width:992px){
	.logo>a{
		font-size: 40px;
	}
	.social-icons ul{
		margin-top: 8px;
	}
}
@media screen and (min-width:1200px){
	.logo>a{
		font-size: 45px;
	}
	.social-icons ul{
		margin-top: 16px;
	}
}